@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Start">
            <FluentIcon Value="@(Icon.FromImageUrl("/images/new evo white.png"))" Width="60px" />
            <FluentLabel Typo="Typography.Header" Color="Color.Fill">
                Diabetics System - <small>Libyan Gate</small>
            </FluentLabel>
        </FluentStack>
        <FluentButton OnClick="@OpenQuickSettingAsync" 
            Appearance="Appearance.Accent"
                      IconStart="@(new Icons.Regular.Size20.Settings())">
        </FluentButton>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent>
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <div class="link1">
            <a href="https://www.facebook.com/evotechly" target="_blank">About Evolution Technology</a>
        </div>
        <div class="link2">
            <div class="copy"><small>Evolution Technology © 2023. All rights reserved.</small></div>
        </div>
    </FluentFooter>

</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<FluentToastContainer MaxToastCount="10" />
<FluentDialogProvider />
<FluentTooltipProvider />
